body{
    box-sizing: border-box;
    font-family: Raleway, sans-serif;	
    font-size: 16px;
  }
  .left{
    display: flex;
    justify-content: space-between;
    }
  a{
    text-decoration: none;
    color: black;
  }
  .space{
    margin-right: 20px;
    margin-left: 20px;
  }
  .hero{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search{
    padding: 10px;
    width: 300px;
    border: solid 1px;
    border-radius: 5px 0px 0px 5px;
  }
  button{
    font-size: 0.9rem;
    padding: 10px;
    border: solid 1px;
    border-radius: 0px 5px 5px 0px;
  }
  footer{
    display: flex;
    flex-direction:reverse;
    align-items: flex-start;
  }
  .left-down{
    margin-right: 20px;
  }

  hr{
    border: solid 1px;
  }
